/******
	|-- Color SASS - file --| 

		* Color specific

	|----------------------|
******/

$white: #fff;

$gray: #656559; 
	$lightGray: #ccc; 
	$lightestGray: #F3F3F3; 
$lightBrown: #ADADAD;

$orange: #ed9b33;
$sand: #E4D4C0; 

$link-blue: #316ea2;

/** Theme color **/
$add-memory-bg: #fafafa;

/** Social media color **/
$facebook: #3b5999;
$twitter: #4099ff;
$instagram: #5280a4;
$n: #de4b39;
$linkedIn: #007bb6; 