h1, h2, p, a, span {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin-top: 0;
    /*font-family: "Diavlo_BOOK_II_37";*/ 
}

span, p, a {
	font-size: 15px; 
}

[type=text], textarea { 
    padding: 20px 10px;
    font-size: 1.5rem;
}

textarea {
    padding: 10px;
}

p {
	color: black; 
    line-height: 2.5rem;
}

i {
	color: black; 
}

a {
    color: $link-blue; 
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

ul {
	list-style: none;
}